<div class=" text-center">
	<!-- <p>{{ tagline }}</p> -->

	<div class="container-fluid">
	<div id="mySidenavbtn" class="sidenav" style="background-color: transparent">
	  <a id="mySidenavclosebtn" class="closebtn" >&times;</a>
	  <a href="#">Analytics</a>
<!-- 	  <a href="#"></a>
	  <a href="#">Clients</a>
	  <a href="#">Contact</a> -->
	</div>

		<div class="row">
<!-- 			<div class="col-md-3 noPaddings">
				<div class="panel panel-default ">
					<div class="panel-heading">Feature Inspection View</div>
					<div class="panel-body" id='wordList'></div>
				</div>
			</div> -->

			<div class="col-md-9 " style="z-index: 0;" id='mapPanel'>
			<div class="row">
			<span style="float:left; font-size:20px;cursor:pointer; padding-left: 15px;" id="mySidenavbtn">&#9776; </span>
				<div style="text-align: right;">
					<!-- <label><input type="checkbox" value="" id='mapSelect'>Select Points</label> -->
					<button type="button" id='resetMap'>reset map</button>
	
					</div>
			</div>
				<div>
				
				</div>
				<div class="panel panel-default">
<!-- 					<div class="panel-heading">City Map View
					</div> -->

					<div class="panel-body" id='map'>
					</div>
				</div>
			</div>
			<div class="col-md-3 " >
				<div class="panel panel-default" id='twitterPanel' style="overflow-y: scroll;">
					<div class="panel-heading">Social Media Insights
					</div>
					<div style="text-align: left;" id='tweetTable' style="overflow-y: scroll;">
	
					</div>
					</div>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-md-12 noPaddings">
				<div class="panel panel-default">
<!-- 					<div class="panel-heading">Statistical View</div> -->
					<div class="panel-body" id="timeline">
<!-- 					<svg style="width:100%;height:100%;" >
					</svg> -->
					</div>
				</div>
			</div>

		</div>
	</div>
<div id="tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" />
</div>
</div>
